<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class=" main w-full min-h-screen bg-zinc-900 text-white p-5">
        <a class="text-blue-500 inline" href="/">Go Back To Home</a>
        <h1 class=" txt-4xl tracking-tighter mt-2"> <%= filename %> </h1>
   <p class=" mt-2 txt-xl font-light"><%= filedata %> </p>
    </div>
</body>

</html>